* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #f5550b;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 720px;
    /*border: 6px solid #fff;
    border-radius: 20px;*/
    display: flex;
    align-items: center;
    margin-right: 15px;

}

main {
    width: 375px;
    background-color: #F4F4F4;
    border: 1px solid #000000;
    border-radius: 20px;
    display: block;
    margin: 55px auto 40px;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

select,
input {
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    background: #ffffff;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    cursor: pointer;
}

button {
    width: 100%;
    border-radius: 5px;
    background-color: #001e6c;
    color: #FFFFFF;
    height: 48px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    width: 100%;
    border: 1px solid #001e6c;
    border-radius: 20px;
    margin-top: 27px;
    padding-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    font-size: 14px;
    color: #777777;
}

.currency-value,
.currency-value-to-convert {
    font-size: 20px;
    color: "#555555";
    font-weight: 700;
}